/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: vTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #909090;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #909090;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #909090;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	cell-padding-left: 5pt;
	cell-padding-right: 5pt;
	cell-padding-top: 5pt;
	cell-padding-bottom: 0pt;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #909090;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #909090;
	cell-content-style-tag: p;
	cell-content-style-class: TableHead;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #909090;
	cell-content-style-tag: p;
	cell-content-style-class: Table;
	page-break-inside: avoid;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #f5f5f5;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #909090;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #909090;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-vTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #909090;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #909090;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #909090;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #909090;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-vTable-Column-Column1
{
	
}

.TableStyle-vTable-Head-Header1
{
	
}

.TableStyle-vTable-HeadI-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTable-HeadI-Column1-Header1 p
{
	
}

.TableStyle-vTable-HeadE-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTable-HeadE-Column1-Header1 p
{
	
}

.TableStyle-vTable-HeadF-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTable-HeadF-Column1-Header1 p
{
	
}

.TableStyle-vTable-HeadH-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-HeadH-Column1-Header1 p
{
	
}

.TableStyle-vTable-HeadD-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTable-HeadD-Column1-Header1 p
{
	
}

.TableStyle-vTable-HeadC-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTable-HeadC-Column1-Header1 p
{
	
}

.TableStyle-vTable-HeadB-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-HeadB-Column1-Header1 p
{
	
}

.TableStyle-vTable-HeadA-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTable-HeadA-Column1-Header1 p
{
	
}

.TableStyle-vTable-HeadG-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTable-HeadG-Column1-Header1 p
{
	
}

.TableStyle-vTable-Foot-Footer1
{
	
}

.TableStyle-vTable-FootI-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTable-FootI-Column1-Footer1 p
{
	
}

.TableStyle-vTable-FootE-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #909090;
	border-top-style: solid;
}

.TableStyle-vTable-FootE-Column1-Footer1 p
{
	
}

.TableStyle-vTable-FootF-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-top-width: 1px;
	border-top-color: #909090;
	border-top-style: solid;
}

.TableStyle-vTable-FootF-Column1-Footer1 p
{
	
}

.TableStyle-vTable-FootH-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-FootH-Column1-Footer1 p
{
	
}

.TableStyle-vTable-FootD-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-top-width: 1px;
	border-top-color: #909090;
	border-top-style: solid;
}

.TableStyle-vTable-FootD-Column1-Footer1 p
{
	
}

.TableStyle-vTable-FootC-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTable-FootC-Column1-Footer1 p
{
	
}

.TableStyle-vTable-FootB-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-FootB-Column1-Footer1 p
{
	
}

.TableStyle-vTable-FootA-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTable-FootA-Column1-Footer1 p
{
	
}

.TableStyle-vTable-FootG-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
}

.TableStyle-vTable-FootG-Column1-Footer1 p
{
	
}

.TableStyle-vTable-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-vTable-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTable-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTable-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTable-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTable-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTable-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTable-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTable-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTable-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTable-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTable-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTable-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTable-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTable-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	font-weight: normal;
}

.TableStyle-vTable-BodyG-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-vTable-Body-Body2
{
	
}

.TableStyle-vTable-BodyI-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #f5f5f5;
}

.TableStyle-vTable-BodyI-Column1-Body2 p
{
	
}

.TableStyle-vTable-BodyE-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-BodyE-Column1-Body2 p
{
	
}

.TableStyle-vTable-BodyF-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTable-BodyF-Column1-Body2 p
{
	
}

.TableStyle-vTable-BodyH-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #f5f5f5;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-BodyH-Column1-Body2 p
{
	
}

.TableStyle-vTable-BodyD-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #909090;
	border-bottom-style: solid;
}

.TableStyle-vTable-BodyD-Column1-Body2 p
{
	
}

.TableStyle-vTable-BodyC-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #f5f5f5;
}

.TableStyle-vTable-BodyC-Column1-Body2 p
{
	
}

.TableStyle-vTable-BodyB-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #f5f5f5;
	border-right-width: 1px;
	border-right-color: #909090;
	border-right-style: solid;
}

.TableStyle-vTable-BodyB-Column1-Body2 p
{
	
}

.TableStyle-vTable-BodyA-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #f5f5f5;
}

.TableStyle-vTable-BodyA-Column1-Body2 p
{
	
}

.TableStyle-vTable-BodyG-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	padding-bottom: 0pt;
	background-color: #f5f5f5;
}

.TableStyle-vTable-BodyG-Column1-Body2 p
{
	
}


